[game]
title="Solomon's World"
max_lives=3
starting_stage=1
time_limit=300

[sequence]
; Tells the game where to start the very first time
initial_level=1

[level_1]
name="The Deep Caves"
file="level_01.json"
next_level=2
bonus_per_second=10

[level_2]
name="Ghostly Halls"
file="level_02.json"
next_level=3
bonus_per_second=15

[level_3]
name="The Final Gate"
file="level_03.json"
next_level=-1 ; Use -1 to indicate the end of the game
bonus_per_second=25

[screen]
TILE_SIZE = 64
LEVEL_WIDTH = 16
LEVEL_HEIGHT = 12

[player]
move_speed=120
jump_force=280
gravity=900
max_fall_speed=400
fireball_speed=240
fire_cooldown=0.3
off_xp=222


[magic]
mana_max=10
mana_regen_rate=0.5

[scoring]
enemy_kill=100
block_destroy=10
key_collect=500
