[game]
title="Solomon's World"
max_lives=3
time_limit=300
collider_debug=false ; shows colliders to troubleshoot

[sequence]
; Tells the game where to start the very first time
initial_level=2 	; demonhead	
;initial_level=3 	; Spark I	
;initial_level=8 	; Spark II	
;initial_level=11 	; Spark III


[level_99]
name="Test Level"
file="level_99.json"
next_level=1
bonus_per_second=10

[level_1]
name="Room 1-1"
room="1-1"
round="1"
file="level_01.json"
next_level=2
bonus_per_second=10

[level_2]
name="Room 2-1"
room="2-1"
round="2"
file="level_02.json"
next_level=3
bonus_per_second=15

[level_3]
name="Room 3-1"
room="3-1"
round="3"
file="level_03.json"
next_level=4
bonus_per_second=25

[level_4]
name="Bonus Prison"
room="3-2"
round="4"
file="level_04.json"
next_level=5 
bonus_per_second=25

[level_5]
name="The Final Gate"
file="level_05.json"
next_level=6 
bonus_per_second=25

[level_6]
name="The Final Gate"
file="level_06.json"
next_level=7 
bonus_per_second=25

[level_7]
name="The Final Gate"
file="level_07.json"
next_level=8 
bonus_per_second=25

[level_8]
name="The Final Gate"
file="level_08.json"
next_level=9 
bonus_per_second=25

[level_9]
name="The Final Gate"
file="level_09.json"
next_level=10 
bonus_per_second=25

[level_10]
name="The Final Gate"
file="level_10.json"
next_level=11 
bonus_per_second=25

[level_11]
name="The Final Gate"
file="level_11.json"
next_level=12 
bonus_per_second=25

[level_44]
name="The Final Gate"
file="level_44.json"
next_level=-1 ; Use -1 to indicate the end of the game
bonus_per_second=25

[screen]
TILE_SIZE = 64
LEVEL_WIDTH = 16
LEVEL_HEIGHT = 12

[player]
move_speed=120
jump_force=280
gravity=900
max_fall_speed=400
fireball_speed=240
fire_cooldown=0.3
off_xp=222


[magic]
mana_max=10
mana_regen_rate=0.5

[scoring]
enemy_kill=100
block_destroy=10
key_collect=500
