[fairy]
sprite="res://sprites/monsters/fairy.png"
hframes=8
frames=[0,3,2,1]
anim_speed=0.12
red_potion_immunity=true
speed=70
gravity=20
bounce_force=-200
hp=1
ai_type="flyer"
score=100
action_type="collect"
is_lethal=false
can_pass_walls=false

[ghost]
sprite="res://sprites/monsters/ghost.png"
hframes=8
frames=[0,1,2,1]
anim_speed=0.22
speed=70
gravity=0
hp=1
ai_type="flyer"
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=false
treasures=["bag200","bag500","red-orb"]

[goblin]
sprite="res://sprites/monsters/goblin.png"
hframes=8
frames=[0,1,2,3,4,5]
anim_speed=0.28
speed=30
gravity=900
hp=1
score=100
ai_type="walker"
action_type="monster_hit"
is_lethal=true
can_pass_walls=false
treasures=["bag500","bag1k","bag2k","fire-growth","gold-bell"]

[spark]
sprite="res://sprites/monsters/spark.png"
hframes=8
frames=[0,1,2,3,4,5,6,7]
;frames=[1]
anim_speed=0.09
speed=50
gravity=0
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=false
treasures=["bag100","bag200"]

[demonhead]
sprite="res://sprites/monsters/demonhead.png"
speed=70
hframes=8
frames=[0,1,2,3,4,5,6,7]
anim_speed=0.05
hp=1
gravity=900
score=100
;respawntime=10
lifetime=20.0
action_type="monster_hit"
is_lethal=true
can_pass_walls=true
treasures=["bag500","bag1k","bag2k","red-orb"]

[pannel]
sprite="res://sprites/monsters/pannel.png"
hframes=8
frames=[0,1,2,3,4,5]
anim_speed=0.28
speed=0
hp=1
gravity=0
score=100
action_type="monster_hit"
is_lethal=false
can_pass_walls=true
treasures=["bag2k","bag5k","bag10k","red-orb"]

[gargoyle]
sprite="res://sprites/monsters/gargoyle.png"
hframes=8
frames=[0,1,2,1]
anim_speed=0.22
speed=70
gravity=900
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=true
treasures=["bag2k","bag5k","bag10k","fire-growth","gold-bell"]

[dragon]
sprite="res://sprites/monsters/dragon.png"
hframes=8
frames=[0,1,2,3,4,5,6,7]
anim_speed=0.22
speed=70
gravity=0
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=true
treasures=["bag100","red-orb","scroll","extra-life"]

[serpent]
sprite="res://sprites/monsters/serpent.png"
hframes=8
frames=[0,1,2,1]
anim_speed=0.22
speed=70
gravity=0
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=true
treasures=["bag100","bag200","bag500"]

[nuel]
sprite="res://sprites/monsters/nuel.png"
hframes=8
frames=[0,1,2,1]
anim_speed=0.22
speed=60
gravity=0
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=true
treasures=["bag500","bag1k","bag2k","red-orb"]

[chimera]
sprite="res://sprites/monsters/chimera.png"
hframes=8
frames=[0,1,2,1]
anim_speed=0.22
speed=60
gravity=0
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=true
treasures=["bag100","bag1k"]

[salamander]
sprite="res://sprites/monsters/salamander.png"
hframes=8
frames=[0,1,2,1]
anim_speed=0.22
gravity=0
speed=60
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=true
treasures=["bag1k","bag2k","bag5k","red-orb"]

[earthmage]
sprite="res://sprites/monsters/earthmage.png"
hframes=8
frames=[0,1,2,1]
anim_speed=0.22
gravity=900
speed=60
hp=1
score=100
action_type="monster_hit"
is_lethal=false
can_pass_walls=true
treasures=["bag5k","bag10k","bag20k","fire-growth","gold-bell"]

[blueflame]
sprite="res://sprites/monsters/blueflame.png"
hframes=8
frames=[0,1,2,3,4,5,6,7]
anim_speed=0.22
red_potion_immunity=true
gravity=120
speed=0
hp=1
score=100
action_type="monster_hit"
is_lethal=true
can_pass_walls=false
