[player]
move_speed=180
jump_force=280
gravity=600
max_fall_speed=400
fireball_speed=240
fire_cooldown=0.3
off_xp=222
introsound="res://sounds/orig-player-in.wav"

; ANIMATIONS

[cast]
sprite="res://sprites/player/player-cast.png"
hframes=8
frames=[0,1,2,1,0]
anim_speed=0.04
speed=50 
loop=false
sound="res://sounds/orig-cast.wav"


[crouchcast]
sprite="res://sprites/player/player-cast.png"
hframes=8
frames=[3,4,5]
anim_speed=0.09
speed=50 
loop=false

[stand]
sprite="res://sprites/player/player-cast.png"
hframes=8
frames=[6]
anim_speed=0.09
speed=50 

[idle]
sprite="res://sprites/player/player-crouch.png"
hframes=8
frames=[0]
anim_speed=0.09
speed=50 
sound="res://sounds/orig-step.wav"

[crouch]
sprite="res://sprites/player/player-crouch.png"
hframes=8
frames=[0,1,2]
anim_speed=0.09
speed=50 
loop=false

[crouchwalk]
sprite="res://sprites/player/player-crouch.png"
hframes=8
frames=[1,2,3]
anim_speed=0.09
speed=50 

[jump]
sprite="res://sprites/player/player-walk.png"
hframes=8
frames=[0]
anim_speed=0.09
speed=50 

[fall]
sprite="res://sprites/player/player-walk.png"
hframes=8
frames=[0]
anim_speed=0.09
speed=50 
sound="res://sounds/orig-fall.wav"

[walk]
sprite="res://sprites/player/player-walk.png"
hframes=8
frames=[0,1,2,3,4,5]
anim_speed=0.15
speed=50 

[hit]
sprite="res://sprites/player/player-death1.png"
hframes=8
frames=[0]
anim_speed=0.09
speed=50 

[death1]
sprite="res://sprites/player/player-death1.png"
hframes=8
frames=[0,1,2,3,4]
anim_speed=0.09
speed=50 
loop=false

[death2]
sprite="res://sprites/player/player-death2.png"
hframes=8
frames=[0,2,3]
anim_speed=0.09
speed=50 
loop=false

[death3]
sprite="res://sprites/player/player-death2.png"
hframes=8
frames=[4,5]
anim_speed=0.09
speed=50 
loop=false
