[fireball]
sprite="res://sprites/projectiles/fireball.png"
speed=300.0
gravity=0
scalex=1.0
scaley=1.0
is_lethal=true
explosion_fx="boom"

; Example of a second projectile type, to show the pattern scales:
; a lobbed rock that arcs under gravity instead of flying straight.
[rock]
sprite="res://sprites/projectiles/rock.png"
speed=220.0
gravity=600.0
scalex=1.0
scaley=1.0
is_lethal=true
explosion_fx="poof"

; Example of a lighter/smaller straight-flying shot for another monster.
[iceshard]
sprite="res://sprites/projectiles/iceshard.png"
speed=380.0
gravity=0
scalex=0.8
scaley=0.8
is_lethal=true
explosion_fx="poof"

; Example of a lighter/smaller straight-flying shot for another monster.
[poison]
sprite="res://sprites/projectiles/poison.png"
speed=180.0
gravity=0
scalex=0.8
scaley=0.8
is_lethal=true
explosion_fx="poof"
